@import 'normalize';
$prim-color:#e8be7b;
$sec-color: #d6a862;
$prim-text-color: #3a3a3a;
$sec-text-color:#525252;
$sprite:"../images/sprites.png";
@mixin size($fz, $lh) {
    font-size: $fz;
    line-height: $lh;
}

body {
    background-color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 0;
    border-radius: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    &.poured {
        border: 2px solid $prim-color;
        background-color: $prim-color;
    }
}

.heading {
    text-transform: capitalize;
    font-family: "Butler", serif;
}

p {
    font-family: "Lato", sans-serif;
}

header {
    background-image: url("../images/header-bg.jpg");
    margin: 0;
    padding: 0;
    color: #fff;
    max-height: 846px;
    padding-bottom: 259px;
}

.soc {
    border-bottom: 1px solid #66685c;
    >div {
        display: flex;
        padding: 22px 0 20px 0;
        width: 1180px;
    }
    p {
        padding-left: 23px;
        margin-right: 24px;
        font-size: 14px;
        color: #d2d2d0;
    }
    .phone-number {
        background: url($sprite) no-repeat -365px -71px;
    }
    .location {
        background: url($sprite) no-repeat -361px -20px;
    }
    .icon {
        display: inline-block;
        vertical-align: bottom;
        margin-top: 4px;
        height: 13px;
        background-color: green;
        margin-right: 27px;
        &:last-child {
            margin-right: 4px;
        }
    }
    .twitter {
        width: 13px;
        margin-right: 28px;
        margin-left: auto;
        background: url($sprite) no-repeat -116px -168px;
    }
    .facebook {
        width: 8px;
        background: url($sprite) no-repeat -121px -321px;
    }
    .youtube {
        width: 15px;
        background: url($sprite) no-repeat -119px -218px;
    }
    .instagram {
        width: 12px;
        background: url($sprite) no-repeat -119px -117px;
    }
    .flickr {
        width: 13px;
        background: url($sprite) no-repeat -119px -269px;
    }
}

.top-navigation {
    padding-top: 1px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 235px;
    .logo {
        padding-top: 19px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
    }
    nav {
        font-family: 'Lato', sans-serif;
    }
    a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        padding: 45px 0 30px 0;
        margin-right: 28px;
        &:nth-child(3) {
            box-shadow: 0 -2px 0 0 $sec-color;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

input[name="slider"] {
    display: none;
}

.slider {
    position: relative;
    text-align: center;
    font-size: 0;
    .label-block {
        position: absolute;
        width: 6px;
        right: 32px;
        top: 62px;
    }
    label {
        cursor: pointer;
        margin-bottom: 14px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #fff;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .heading {
        font-size: 64px;
        margin-bottom: 14px;
    }
    p {
        font-size: 16px;
        margin-bottom: 45px;
    }
    mark {
        background-color: transparent;
        color: $prim-color;
    }
    .btn {
        font-size: 14px;
        width: 180px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0px;
        }
    }
    .watch-video {
        background: url($sprite) no-repeat -590px -407px, $prim-color;
        padding-left: 30px;
        border: 2px solid $prim-color;
    }
}

#rad1:checked~.slider label[for="rad1"],
#rad2:checked~.slider label[for="rad2"],
#rad3:checked~.slider label[for="rad3"],
#rad4:checked~.slider label[for="rad4"],
#rad5:checked~.slider label[for="rad5"] {
    width: 10px;
    height: 10px;
    margin-bottom: 12px;
    background-color: $prim-color;
    transform: translate(-20%, -20%)
}

.services {
    background: url("../images/service-bg.png") no-repeat 0 -245px;
    text-align: center;
    padding-top: 111px;
    padding-bottom: 120px;
    .heading {
        font-size: 48px;
        color: $prim-text-color;
        margin-bottom: 16px;
    }
    p {
        font-size: 16px;
        color: $prim-text-color;
        margin-bottom: 80px;
    }
}

.services-btns {
    margin-bottom: 57px;
    font-size: 0;
    .btn {
        font-family: "Butler Medium", serif;
        font-size: 18px;
        padding: 123px 0 28px 0;
        height: 172px;
        width: 180px;
        font-weight: bold;
        border: none;
        color: #4d4d4d;
        margin-right: 54px;
        &:last-child {
            margin-right: 0;
        }
        &.about {
            background: url($sprite) no-repeat 67px 40px;
        }
        &.wedding {
            background: url($sprite) no-repeat 24px -345px;
        }
        &.party {
            background: url($sprite) no-repeat -138px -342px;
        }
        &.beauty-box {
            background: url($sprite) no-repeat -459px -191px;
        }
        &.course {
            background: url($sprite) no-repeat -300px -340px;
        }
        &:hover {
            background-color: #fff;
        }
    }
}

.info {
    display: flex;
    img {
        box-shadow: 10px 10px 0 0 $prim-color;
    }
    &-text {
        padding-top: 78px;
        padding-left: 71px;
        text-align: left;
        .heading {
            display: block;
            width: 350px;
            @include size(24px,
            36px);
            margin-bottom: 13px;
        }
        p {
            @include size(16px,
            26px);
            margin-bottom: 30px;
        }
        .more-info {
            font-family: "Lato Medium", sans-serif;
            text-decoration: none;
            color: $sec-color;
            text-transform: uppercase;
            position: relative;
            font-size: 18px;
            &::after {
                right: -19px;
                top: 4px;
                transform: translateX(100%);
                content: "";
                position: absolute;
                width: 33px;
                height: 11px;
                background: url($sprite) no-repeat -309px -170px;
            }
        }
    }
}

.gallery {
    background: url("../images/kiss.jpg");
    min-height: 800px;
    padding-top: 600px;
    &-text {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 38px;
            height: 16px;
            top: 64px;
            left: -61px;
            transform: translateX(-100%);
            background: url($sprite) no-repeat -507px -81px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 38px;
            height: 16px;
            top: 64px;
            right: -61px;
            transform: translateX(100%);
            background: url($sprite) no-repeat -508px -56px;
        }
        background-color: #fff;
        width: 970px;
        margin: auto;
        padding: 30px 87px;
        display: flex;
        justify-content: space-between;
        .heading {
            background: url($sprite) no-repeat -178px -218px;
            font-size: 32px;
            width: 124px;
            color: $prim-text-color;
            border-right: 1px solid $prim-text-color;
            min-height: 80px;
        }
        p {
            width: 641px;
            font-size: 16px;
            line-height: 26px;
            color: $prim-text-color;
        }
    }
}

.channel {
    padding: 112px 0 119px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    .heading {
        font-size: 48px;
        margin-bottom: 16px;
        color: #2a2a2a;
    }
    p {
        font-size: 16px;
        color: $prim-text-color;
        margin-bottom: 57px;
        margin-left: 4px;
    }
    .fake-video {
        margin-bottom: 40px;
    }
    .btn {
        width: 170px;
    }
    .videos {
        padding: 14px 0;
    }
}

.blog {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 120px;
    .heading {
        color: $prim-text-color;
        @include size(48px,
        30px);
        margin-bottom: 29px;
        margin-left: 10px;
    }
    &-navigation {
        margin-bottom: 67px;
        a {
            font-family: "Lato", sans-serif;
            margin-right: 41px;
            text-decoration: none;
            color: $prim-text-color;
            text-transform: lowercase;
            &:nth-child(2) {
                color: $prim-color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .more-photos {
        margin-top: 41px;
        border: 1px solid $sec-text-color;
        width: 170px;
        color: $prim-text-color;
        margin-right: auto;
        margin-left: auto;
        padding-left: 5px;
    }
}

.photo-item {
    margin-bottom: 26px;
    text-align: left;
    width: 370px;
    &.highlight {
        width: 770px;
    }
    &:nth-child(2) {
        img {
            box-shadow: 10px 10px 0 0 $prim-color;
        }
    }
    img {
        margin-bottom: 16px;
    }
    .description {
        padding-right: 10px;
        font-family: "Lato", sans-serif;
        font-weight: lighter;
        color: $sec-text-color;
        @include size(18px,
        30px);
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .author-date {
        color: #757575;
        font-size: 16px;
        font-family: "Butler Light", serif;
        font-weight: lighter;
    }
}

.contacts {
    background-color: #fff;
    padding-top: 109px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 120px;
    .heading {
        font-size: 50px;
        color: #2a2a2a;
        margin-bottom: 15px;
    }
    p {
        color: $prim-text-color;
        margin-bottom: 67px;
    }
}

.all-contacts {
    >div {
        display: flex;
        padding-left: 48px;
    }
    .address {
        margin-right: 74px;
    }
    .phone-number {
        margin-right: 115px;
    }
    .e-mail {
        svg {
            margin-top: 7px;
        }
        .heading {
            margin-bottom: 7px;
        }
    }
}

.contact {
    font-size: 0;
    svg {
        margin-right: 30px;
    }
    .contact-text {
        display: inline-block;
        vertical-align: top;
        padding-top: 7px;
    }
    .heading {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        margin-bottom: 0;
        text-transform: uppercase;
        color: #2a2a2a;
        font-weight: normal;
        margin-bottom: 10px;
    }
    p {
        font-family: "Butler Light", serif;
        font-size: 24px;
        margin-bottom: 0;
    }
}

.footer {
    background-color: #3a3a3a;
    >div {
        padding-top: 65px;
        padding-bottom: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        &:hover {
            text-decoration: underline;
        }
    }
    &-navigation {
        margin-bottom: 68px;
        margin-right: 28px;
        color: #e1e1e1;
        a {
            margin-right: 27px;
            color: #fff;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-links {
        color: #e1e1e1;
        a {
            color: inherit;
            @include size(16px,
            48px);
        }
    }
    .go-top {
        align-self: flex-end;
        color: #fff;
        margin-top: -33px;
        margin-right: 4px;
        position: relative;
        &::after {
            content: "";
            width: 5px;
            height: 17px;
            position: absolute;
            right: -13px;
            top: -1px;
            transform: translateX(100%);
            background: url($sprite) no-repeat -324px -266px;
        }
    }
}

.highlight {
    position: relative;
}

.highlight::after {
    content: "HIGHLIGHT POST";
    position: absolute;
    left: -16px;
    top: 30px;
    transform-origin: 100% 50%;
    transform: translateX(-100%) rotate(-90deg);
    @include size(14px,
    26px);
    color: $sec-text-color;
    font-family: "Avenir Medium", sans-serif;
    font-weight: bold;
}

.highlight::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 170px;
    width: 1px;
    height: 50px;
    background-color: #494949;
}

.page-container {
    width: 1600px;
    margin: auto;
    margin-top: 0;
}

.large-container {
    width: 1172px;
    margin: auto;
}

@font-face {
    font-family: "Lato Medium";
    src: url("../fonts/Lato/LatoLatin-Medium.eot");
    src: url("../fonts/Lato/LatoLatin-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/LatoLatin-Medium.woff") format("woff"), url("../fonts/Lato/LatoLatin-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Butler";
    src: url("../fonts/Butler/butler_medium-webfont.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Butler";
    src: url("../fonts/Butler/butler_regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Butler Light";
    src: url("../fonts/Butler/butler_light-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avenir Medium";
    src: url("../fonts/Avenir/Avenir-Medium-webfont.eot");
    src: url("../fonts/Avenir/Avenir-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/Avenir-Medium-webfont.woff") format("woff"), url("../fonts/Avenir/Avenir-Medium-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}